html > body{
    background-color: rgb(199, 29, 29);
    display: flex;
    flex-direction: column;
}

/* #header{
    display: flex;
}

.header-top{
    flex: 1;
    float: left;
}

#logo > a > img{
    width: 10vh;
    padding-left: 2vh;
   
}

.authDiv{
    flex: 1;
    background-color: cornsilk;
    float: right;
}

.authDiv > div > div > button{
    height: 5vh;
    margin-right: 2vh;
    margin-bottom: 1vh;
    float: right;

    
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0;
  }

.menu-item{
   list-style: none;
} */

